.delete {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 17px;
}
.left {
    margin: auto;
    flex: 1;
    text-align: left;
}
.right {
    margin: auto;
    flex: initial;
    display: flex;
    text-align: right;
}