.root {
    display: flex;
    margin: auto;
    max-width: 845px;
    margin-top: 57px;
}

@media only screen and (max-width: 460px){
    .root {
        display: block;
        margin: auto;
        max-width: 845px;
    }
}